@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");

.channelWindow {
    display: flex;
    background-color: rgba(245, 245, 245, 0.596);
    margin: 0;
    flex: 1;
    flex-direction: column;
}

.channelWindow_mainImg{
    background-color: lightblue;
    height: 270px;
}
.channelWindow_mainImg img{
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.channelWindow_main{
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channelWindow_mainBox{
    flex: 1;
    background-color: rgb(255, 255, 255);
    height: 80px;
    max-width: 1284px;
    display: flex;
}

.imageBox{
    width: 100px;
    height: 100%;
}
.imageBox img{
    width: 80px;
    height: 80px;
}

.channelBox{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.channelInfo{
background-color: white;
flex: 1;
}

.channel_name{
    max-height: 29px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 24px;
    color: #030303bb;
    font-weight: lighter;
    margin: 0;
    overflow: hidden;
}
.channel_sub{
    max-height: 18px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    color: #606060;
    font-weight: lighter;
    margin-top: 10px;
    overflow: hidden;
}

.channelBtn{
width: 200px;
display: flex;
align-items: center;
justify-content: space-between;
}

.join{
    font-size: 14px;
    font-family: 'Roboto', 'Noto', sans-serif;
    background-color:white;
    color:  #065FD4;
    padding: 9px 15px;
    cursor: pointer;
    border: 1px solid #065FD4;
    margin-left: 5px;
}

.subscribe{
    font-size: 14px;
    font-family: 'Roboto', 'Noto', sans-serif;
    background-color: #cc0000;
    color: white;
    padding: 10px 16px;
    cursor: pointer;
    border: none;
}






.mainSection{
    display: flex;
    background-color: rgba(245, 245, 245, 0.596);
    margin: 0;
    flex: 1;
    flex-direction: column;

 
}


.mainSection_video{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 40px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 40px; */

}

.mainSection_videoBox{
    
   
    flex: auto;
    width: calc(25% - 20px);
    min-width: 280px;
    /* background-color: aqua; */
    height: 335px;
    box-sizing:border-box;
    margin-bottom: 20px;
      }

/* ---------------------Every Video Box------------------------- */



.video__image{
    display: flex;
    width: 100%;
    object-fit: contain;
    object-position: top;
}

.video__description{
    display: flex;
    /* background-color: red; */
    margin-top: 15px;
}

.video__description_image{
    width: 40px;
}
.channel_image_img{
    width: 36px;
    border-radius: 50%;
}

.video__description__text{
    padding: 0 25px 0 15px;
}
.video-author,
.video-stats {
    margin: 0;
    height: 20px;
    font-family:'Roboto',Arial,sans-serif;
  font-size: 14px;
  color: #606060;
}

.video-title {
    max-height: 40px;
    margin-top: 0px;
    font-size: 16px;
    font-family:'Roboto',Arial,sans-serif;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 12px;
    overflow: hidden;
  }

.linkVideobox {
    text-decoration: none;
    color: rgb(58, 56, 56);
  }



@media (min-width: 2000px) {
    .mainSection_videoBox{
        width: calc(20% - 20px);

    }
  }
