.header {
  display: flex;
  height: 56px;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.795);
  z-index: 5;
}

.header_top {
  display: flex;
  flex: 1;
  height: 56px;
  background-color: gray;
  z-index: 100;
}
/* -------------------------------LEFT------------------------------- */
.header_left {
  display: flex;
  width: 172px;
  margin-left: 18px;
  /* background-color: lightpink; */
  height: 40px;
  align-items: center;
}

.header_left img {
  height: 20px;
  margin-left: 22px;
  cursor: pointer;
}

.header_menubox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.header_menu {
  color: rgba(0, 0, 0, 0.445);
  cursor: pointer;
}
/* ---------------------------MIDDLE--------------------------------- */
.header_middle {
  display: flex;
  flex: 1;
  /* background-color: lightblue; */
  margin-left: 40px;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.header_input {
  display: flex;
  flex: 1;
  /*  background-color: red; */
  max-width: 572px;
  align-self: center;
  justify-content: flex-end;
}

.header_middle input {
  display: flex;
  height: 36px;
  border: 1px solid rgba(173, 172, 172, 0.87);
  font-size: 16px;
  padding-left: 5px;
  width: 92%;
}

.header_input input:focus {
  outline: 1px solid #1c62b9;
  outline-offset: -1px;
  width: 97%;
}

.header_search {
  display: flex;
  position: relative;
  border-right: 1px solid rgba(173, 172, 172, 0.87);
  border-top: 1px solid rgba(173, 172, 172, 0.87);
  border-bottom: 1px solid rgba(173, 172, 172, 0.87);
  height: 36px;
  width: 60px;
  align-items: center;
  justify-content: center;
  background-color: rgba(211, 211, 211, 0.116);
}

.header_search .textOpacity,.header_mic .textOpacity,.header_videocall .textOpacity,.header_notification .textOpacity{
  position: absolute;
  color: white;
  background-color:rgba(80, 78, 78, 0.582) ;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.header_search:hover .textOpacity, .header_mic:hover .textOpacity,.header_videocall:hover .textOpacity,.header_notification:hover .textOpacity{
  opacity: 1;
}

.search_Icon {
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.616);
  background-color: rgba(255, 255, 255, 0.795);
  border: none;
  color: none;
}
.search_Icon:active{
  border: none;
}
.search_Icon:focus{
 border: none;
}

.header_mic {
  background-color: rgba(211, 211, 211, 0.116);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50%;
}

/* ------------------------RIGHT-------------------------------------- */
.header_right {
  display: flex;
  /* background-color: lightpink; */
  flex-shrink: initial;
  width: 225px;
  height: 40px;
  align-items: center;
  justify-content: end;
  margin-right: 20px;
  margin-left: 20px;
}

.header_notification {
  display: flex;
  position: relative;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.header_notification i {
  transform: scale(1.25);
  color: rgba(0, 0, 0, 0.678);
}

.header_videocall {
  display: flex;
  position: relative;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.videocall {
  transform: scale(1.1);
}

.header_avatar {
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.header_avatar_avatar {
  transform: scale(0.8);
}
.videoc {
}

@media (max-width: 659px) {
  .header_right {
    width: 140px;
  }
  .header_input {
    display: none;
  }
  .header_middle {
    justify-content: flex-end;
    margin-right: -5px;
  }

  .header_search {
    border: none;
    background-color: white;
    margin-right: -15px;
  }
  .header_mic {
    background-color: white;
    margin-right: -10px;
  }
}
